<?xml version="1.0" encoding="UTF-8"?>
<Content media-type="application/vnd.ez.api.Content+xml" href="/api/ezp/v2/content/objects/54" remoteId="d2b6b7f5d0935c45456a80d3a154f2e7" id="54">
    <ContentType media-type="application/vnd.ez.api.ContentType+xml" href="/api/ezp/v2/content/types/2"/>
    <Name>test</Name>
    <Versions media-type="application/vnd.ez.api.VersionList+xml" href="/api/ezp/v2/content/objects/54/versions"/>
    <CurrentVersion media-type="application/vnd.ez.api.Version+xml" href="/api/ezp/v2/content/objects/54/currentversion">
        <Version media-type="application/vnd.ez.api.Version+xml" href="/api/ezp/v2/content/objects/54/versions/1">
            <VersionInfo>
                <id>515</id>
                <versionNo>1</versionNo>
                <status>PUBLISHED</status>
                <modificationDate>2018-09-27T13:31:25+02:00</modificationDate>
                <Creator media-type="application/vnd.ez.api.User+xml" href="/api/ezp/v2/user/users/14"/>
                <creationDate>2018-09-27T13:31:24+02:00</creationDate>
                <initialLanguageCode>eng-GB</initialLanguageCode>
                <languageCodes>eng-GB</languageCodes>
                <VersionTranslationInfo media-type="application/vnd.ez.api.VersionTranslationInfo+xml">
                    <Language>
                        <languageCode>eng-GB</languageCode>
                    </Language>
                </VersionTranslationInfo>
                <names>
                    <value languageCode="eng-GB">test</value>
                </names>
                <Content media-type="application/vnd.ez.api.ContentInfo+xml" href="/api/ezp/v2/content/objects/54"/>
            </VersionInfo>
            <Fields>
                <field>
                    <id>249</id>
                    <fieldDefinitionIdentifier>title</fieldDefinitionIdentifier>
                    <languageCode>eng-GB</languageCode>
                    <fieldTypeIdentifier>ezstring</fieldTypeIdentifier>
                    <fieldValue>test</fieldValue>
                </field>
                <field>
                    <id>250</id>
                    <fieldDefinitionIdentifier>short_title</fieldDefinitionIdentifier>
                    <languageCode>eng-GB</languageCode>
                    <fieldTypeIdentifier>ezstring</fieldTypeIdentifier>
                    <fieldValue>test</fieldValue>
                </field>
                <field>
                    <id>251</id>
                    <fieldDefinitionIdentifier>author</fieldDefinitionIdentifier>
                    <languageCode>eng-GB</languageCode>
                    <fieldTypeIdentifier>ezauthor</fieldTypeIdentifier>
                    <fieldValue>
                        <value>
                            <value key="id">1</value>
                            <value key="name">Administrator User</value>
                            <value key="email">nospam@ez.no</value>
                        </value>
                    </fieldValue>
                </field>
                <field>
                    <id>252</id>
                    <fieldDefinitionIdentifier>intro</fieldDefinitionIdentifier>
                    <languageCode>eng-GB</languageCode>
                    <fieldTypeIdentifier>ezrichtext</fieldTypeIdentifier>
                    <fieldValue>
                        <value key="xml">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;section xmlns=&quot;http://docbook.org/ns/docbook&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; xmlns:ezxhtml=&quot;http://ez.no/xmlns/ezpublish/docbook/xhtml&quot; xmlns:ezcustom=&quot;http://ez.no/xmlns/ezpublish/docbook/custom&quot; version=&quot;5.0-variant ezpublish-1.0&quot;&gt;&lt;para&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/para&gt;&lt;/section&gt;
</value>
                        <value key="xhtml5edit">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;section xmlns=&quot;http://ez.no/namespaces/ezpublish5/xhtml5/edit&quot;&gt;&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&lt;/p&gt;&lt;/section&gt;
</value>
                    </fieldValue>
                </field>
                <field>
                    <id>253</id>
                    <fieldDefinitionIdentifier>body</fieldDefinitionIdentifier>
                    <languageCode>eng-GB</languageCode>
                    <fieldTypeIdentifier>ezrichtext</fieldTypeIdentifier>
                    <fieldValue>
                        <value key="xml">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;section xmlns=&quot;http://docbook.org/ns/docbook&quot; xmlns:xlink=&quot;http://www.w3.org/1999/xlink&quot; version=&quot;5.0-variant ezpublish-1.0&quot;/&gt;
</value>
                        <value key="xhtml5edit">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;
&lt;section xmlns=&quot;http://ez.no/namespaces/ezpublish5/xhtml5/edit&quot;/&gt;
</value>
                    </fieldValue>
                </field>
                <field>
                    <id>254</id>
                    <fieldDefinitionIdentifier>enable_comments</fieldDefinitionIdentifier>
                    <languageCode>eng-GB</languageCode>
                    <fieldTypeIdentifier>ezboolean</fieldTypeIdentifier>
                    <fieldValue>false</fieldValue>
                </field>
                <field>
                    <id>255</id>
                    <fieldDefinitionIdentifier>image</fieldDefinitionIdentifier>
                    <languageCode>eng-GB</languageCode>
                    <fieldTypeIdentifier>ezobjectrelation</fieldTypeIdentifier>
                    <fieldValue>
                        <value key="destinationContentId"/>
                    </fieldValue>
                </field>
            </Fields>
            <Relations media-type="application/vnd.ez.api.RelationList+xml" href="/api/ezp/v2/content/objects/54/versions/1/relations"/>
        </Version>
    </CurrentVersion>
    <Section media-type="application/vnd.ez.api.Section+xml" href="/api/ezp/v2/content/sections/1"/>
    <MainLocation media-type="application/vnd.ez.api.Location+xml" href="/api/ezp/v2/content/locations/1/2/55"/>
    <Locations media-type="application/vnd.ez.api.LocationList+xml" href="/api/ezp/v2/content/objects/54/locations"/>
    <Owner media-type="application/vnd.ez.api.User+xml" href="/api/ezp/v2/user/users/14"/>
    <lastModificationDate>2018-09-27T13:31:25+02:00</lastModificationDate>
    <publishedDate>2018-09-27T13:31:25+02:00</publishedDate>
    <mainLanguageCode>eng-GB</mainLanguageCode>
    <currentVersionNo>1</currentVersionNo>
    <alwaysAvailable>false</alwaysAvailable>
    <ObjectStates media-type="application/vnd.ez.api.ContentObjectStates+xml" href="/api/ezp/v2/content/objects/54/objectstates"/>
</Content>
