<?xml version="1.0" encoding="UTF-8"?>
<VersionList media-type="application/vnd.ez.api.VersionList+xml" href="/api/ezp/v2/content/objects/61/versions">
    <VersionItem>
        <Version media-type="application/vnd.ez.api.Version+xml" href="/api/ezp/v2/content/objects/61/versions/1"/>
        <VersionInfo>
            <id>522</id>
            <versionNo>1</versionNo>
            <status>ARCHIVED</status>
            <modificationDate>2019-02-20T11:30:15+01:00</modificationDate>
            <Creator media-type="application/vnd.ez.api.User+xml" href="/api/ezp/v2/user/users/14"/>
            <creationDate>2018-11-09T14:50:16+01:00</creationDate>
            <initialLanguageCode>eng-GB</initialLanguageCode>
            <languageCodes>eng-GB</languageCodes>
            <VersionTranslationInfo media-type="application/vnd.ez.api.VersionTranslationInfo+xml">
                <Language>
                    <languageCode>eng-GB</languageCode>
                </Language>
            </VersionTranslationInfo>
            <names>
                <value languageCode="eng-GB">777</value>
            </names>
            <Content media-type="application/vnd.ez.api.ContentInfo+xml" href="/api/ezp/v2/content/objects/61"/>
        </VersionInfo>
    </VersionItem>
    <VersionItem>
        <Version media-type="application/vnd.ez.api.Version+xml" href="/api/ezp/v2/content/objects/61/versions/2"/>
        <VersionInfo>
            <id>543</id>
            <versionNo>2</versionNo>
            <status>ARCHIVED</status>
            <modificationDate>2019-02-20T11:31:52+01:00</modificationDate>
            <Creator media-type="application/vnd.ez.api.User+xml" href="/api/ezp/v2/user/users/14"/>
            <creationDate>2019-02-19T14:59:15+01:00</creationDate>
            <initialLanguageCode>eng-GB</initialLanguageCode>
            <languageCodes>eng-GB</languageCodes>
            <VersionTranslationInfo media-type="application/vnd.ez.api.VersionTranslationInfo+xml">
                <Language>
                    <languageCode>eng-GB</languageCode>
                </Language>
            </VersionTranslationInfo>
            <names>
                <value languageCode="eng-GB">777</value>
            </names>
            <Content media-type="application/vnd.ez.api.ContentInfo+xml" href="/api/ezp/v2/content/objects/61"/>
        </VersionInfo>
    </VersionItem>
    <VersionItem>
        <Version media-type="application/vnd.ez.api.Version+xml" href="/api/ezp/v2/content/objects/61/versions/3"/>
        <VersionInfo>
            <id>550</id>
            <versionNo>3</versionNo>
            <status>ARCHIVED</status>
            <modificationDate>2019-02-20T11:32:12+01:00</modificationDate>
            <Creator media-type="application/vnd.ez.api.User+xml" href="/api/ezp/v2/user/users/14"/>
            <creationDate>2019-02-20T11:31:34+01:00</creationDate>
            <initialLanguageCode>eng-GB</initialLanguageCode>
            <languageCodes>eng-GB</languageCodes>
            <VersionTranslationInfo media-type="application/vnd.ez.api.VersionTranslationInfo+xml">
                <Language>
                    <languageCode>eng-GB</languageCode>
                </Language>
            </VersionTranslationInfo>
            <names>
                <value languageCode="eng-GB">7777</value>
            </names>
            <Content media-type="application/vnd.ez.api.ContentInfo+xml" href="/api/ezp/v2/content/objects/61"/>
        </VersionInfo>
    </VersionItem>
    <VersionItem>
        <Version media-type="application/vnd.ez.api.Version+xml" href="/api/ezp/v2/content/objects/61/versions/4"/>
        <VersionInfo>
            <id>551</id>
            <versionNo>4</versionNo>
            <status>PUBLISHED</status>
            <modificationDate>2019-02-20T11:32:12+01:00</modificationDate>
            <Creator media-type="application/vnd.ez.api.User+xml" href="/api/ezp/v2/user/users/14"/>
            <creationDate>2019-02-20T11:32:06+01:00</creationDate>
            <initialLanguageCode>eng-GB</initialLanguageCode>
            <languageCodes>eng-GB</languageCodes>
            <VersionTranslationInfo media-type="application/vnd.ez.api.VersionTranslationInfo+xml">
                <Language>
                    <languageCode>eng-GB</languageCode>
                </Language>
            </VersionTranslationInfo>
            <names>
                <value languageCode="eng-GB">7777</value>
            </names>
            <Content media-type="application/vnd.ez.api.ContentInfo+xml" href="/api/ezp/v2/content/objects/61"/>
        </VersionInfo>
    </VersionItem>
</VersionList>
