<?xml version="1.0" encoding="UTF-8"?>
<ObjectStateGroupList media-type="application/vnd.ez.api.ObjectStateGroupList+xml" href="/api/ezp/v2/content/objectstategroups">
    <ObjectStateGroup media-type="application/vnd.ez.api.ObjectStateGroup+xml" href="/api/ezp/v2/content/objectstategroups/2">
        <id>2</id>
        <identifier>ez_lock</identifier>
        <defaultLanguageCode>eng-GB</defaultLanguageCode>
        <languageCodes>eng-GB</languageCodes>
        <ObjectStates media-type="application/vnd.ez.api.ObjectStateList+xml" href="/api/ezp/v2/content/objectstategroups/2/objectstates"/>
        <names>
            <value languageCode="eng-GB">Lock</value>
        </names>
        <descriptions>
            <value languageCode="eng-GB"></value>
        </descriptions>
    </ObjectStateGroup>
    <ObjectStateGroup media-type="application/vnd.ez.api.ObjectStateGroup+xml" href="/api/ezp/v2/content/objectstategroups/3">
        <id>3</id>
        <identifier>testgroup</identifier>
        <defaultLanguageCode>eng-GB</defaultLanguageCode>
        <languageCodes>eng-GB</languageCodes>
        <ObjectStates media-type="application/vnd.ez.api.ObjectStateList+xml" href="/api/ezp/v2/content/objectstategroups/3/objectstates"/>
        <names>
            <value languageCode="eng-GB">Testgroup</value>
        </names>
        <descriptions>
            <value languageCode="eng-GB"></value>
        </descriptions>
    </ObjectStateGroup>
</ObjectStateGroupList>
